.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../images/login.jpg);
    background-size: cover;
    color: white;
}

.loginTitle {
    font-size: 40px; /* Decrease font size */
    text-align: center;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput {
    padding: 8px; /* Decrease padding */
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.loginButton {
    margin: 15px 0; /* Decrease margin */
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
}

.loginButton:disabled {
    cursor: not-allowed;
    background: rgb(252, 173, 173);
}

.loginRegisterButton {
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 5px;
}

.errorText {
    color: red;
    font-size: 12px; /* Decrease font size */
}

/* Media query for tablet view */
@media screen and (max-width: 768px) {
    .loginTitle {
        font-size: 30px; /* Decrease font size for tablet view */
    }
    
    .loginButton {
        margin: 10px 0; /* Decrease margin for tablet view */
    }
}

/* Media query for mobile view */
@media screen and (max-width: 576px) {
    .loginTitle {
        font-size: 24px; /* Decrease font size for mobile view */
    }
    
    .loginInput {
        padding: 6px; /* Decrease padding for mobile view */
    }
    
    .loginButton, .loginRegisterButton {
        margin: 8px 0; /* Decrease margin for mobile view */
        padding: 5px; /* Decrease padding for mobile view */
    }
}
