.topbar {
    width: 100%;
    height: 50px;
    font-family: 'Josefin Slab', serif;
    position: sticky;
    background-color: white;
    top: 0;
    align-items: center;
    display: flex;
    z-index: 9999;
}

.topleft, .topright {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topcenter {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topList {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.topImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    color: #666;
    cursor: pointer;
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.searchIcon {
    font-size: 18px;
    font-weight: 600;
    color: #666;
    margin-left: 15px;
}

.topbarTitlespan {
    color: teal;
}

.topbarTitle {
    font-family: 'Lora', serif;
}

/* Media query for tablet view */
@media screen and (max-width: 768px) {
    .topListItem {
        margin-right: 10px; /* Adjust margin for smaller screens */
        font-size: 16px; /* Decrease font size for smaller screens */
    }
    
    .searchIcon {
        margin-left: 10px; /* Adjust margin for smaller screens */
    }
}

/* Media query for mobile view */
@media screen and (max-width: 576px) {
    .topbar {
        height: auto; /* Adjust height for smaller screens */
        padding: 10px; /* Add padding for smaller screens */
         /* Change direction to column for smaller screens */
    }
    
    .topleft, .topright, .topcenter {
        flex: auto; /* Allow flex items to grow */
        justify-content: flex-start; /* Align items to flex-start */
    }
    
    .topList {
        margin-top: 10px; /* Add margin at the top */
        justify-content: center; /* Align items to center */
    }
    
    .topListItem {
        margin-right: 8px;
        font-size: 14px; /* Decrease font size */
    }
    
    .searchIcon {
        margin-left: 0; /* Remove left margin */
        margin-top: 10px; /* Add top margin */
    }
}
